<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/home/tony/Documents/grid.css">
</head>
<body>
<div class="section group">
<div class="col span_12_of_12">
	12 of 12
	<header>
	<h1>A COLLECTION OF SHORT STORIES</h1>
	<a href="#">Home</a>
	<a href="/home/tony/Documents/HTML/SHORTSTORIES/storieslist.html">Stories</a>
	<a href="#">About</a>
	</header>
</div>
<div class="col span_9_of_12">
	12 of 12
	<aside>
	<h2>THE BELLS</h2>
<p>n the steeple of an old church was a beautiful chime of bells, which for many years had rung out joyous peals at the touch of the sexton's hand upon the rope.

"I'll make the air full of music to-morrow," said the white-haired man, as he lay down to his slumbers. "To-morrow is Christmas, and the people shall be glad and gay. Ah, yes! right merry will be the chimes I shall ring them." Soon sleep gathered him in a close embrace, and visions of the morrow's joy flitted over his brain.

At midnight some dark clouds swept over the tower, while darker shadows of discontent fell on the peaceful chime.

Hark! what was that? A low, discordant sound was heard among the bells.

"Here we have been ringing for seven long years," murmured the highest bell in the chime.</p>
	</aside>>

</div>

<div class="col span_3_of_12">
	12 of 12
	<aside>
	<ul><a href="#THEBELLS">THE BELLS</a></ul>
	<ul><a href="#FAITH">FAITH</a></ul>
	<ul><a href="#FAITHHOPE">FAITH HOPE AND CHARITY</a></ul>
	<ul><a href="#THEFEAST">THE FEAST</a></ul>
	<ul><a href="#GOINGFORTH">GOING FORTH</a></ul>
	<ul><a href="#THEHEIGHT">THE HEIGHT</a></ul>
	<ul><a href="#HOPE">HOPE</a></ul>
	<ul><a href="#INTHEWORLD">IN THE WORLD</a></ul>
	<ul><a href="#JOYANDSORROW">JOY AND SORROW</a></ul>
	<ul><a href="#THELESSONOFTHESTONE">THE LESSON OF THE STONE</a></u>
	</aside>
<div class="col span_12_of_12">
	12 of 12
	<footer>
		<a class="footerlink" href="#">Home</a>
	<a class="footerlink" href="#">About</a>
	<center><h3 class="footerlink2">Latest stories</h3></center>
	<center><a class="footerlink2" href="#">The Bells</a></center>
	<center><a class="footerlink2" href="#">Hope</a></center>
	</footer>
</div>
</body>
</html>	